html,body {
	width:200px;
	height:50px;
	background:#eee;
	font-family:Arial;
	overflow:hidden;
}

#open_game {
	width:200px;
	height:50px;
	line-height:50px;
	font-size:20px;
	text-align:center;
	font-family:Arial;
	cursor:hand;
	cursor:pointer;
}

#open_game:hover {
	background:#ffc;
}